body {
  background-color: rgb(172, 212, 228);  
}

.title {
  text-align: center;
  color: #e060d7;
  margin: 16p
}

.green {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  padding: 16px;
  background-color: #e8f5e9;
  border-radius: 12px;
}

 .blue {
  background-color: rgb(85, 30, 237);
  color: white;
  padding: 20px;
  margin: 24px auto;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
}


.container {
  max-width: 360px;
  margin: 0 auto;
}

.blue.木 {
  color: greenyellow;
}

.blue.火 {
  color: red;
}

.blue.土 {
  color: sandybrown;
}

.blue.金 {
  color: gold;
}

.blue.水 {
  color: skyblue;
}

.blue.high {
  border: 3px solid gold;
}

.blue.mid {
  border: 3px solid silver;
}

.blue.low {
  border: 3px solid gray;
}

/* 相性スコアの文字色 */
.score-high {
  color: gold;
}

.score-mid {
  color: #14cb91;
}

.score-low {
  color: red;
}
